body {background-color: #F0F8FE; color: #3b4245; font-family: Arial, sans-serif; margin:0 14px 50px; padding: 0; font-size:14px; font-family: "Open sans", Arial, sans-serif;}
h1 {font-size: 28px; text-align: center; margin: 30px 0}
a {color: #3b6ea5}
ul{margin:0; padding:0;}

/* == STRUCTURE
=================================*/
#container {max-width: 550px; margin: 50px auto 0}
#home-nav li {margin:0 auto 20px; padding:10px 0; list-style-type: none; text-align: center; background-color: white; width:60%; border:1px solid #D9E5EE; font-weight: bold}
#home-nav li a {text-decoration: none; color: #333}
#home-nav .add {margin-top:40px;}

/* == HEADER NAVIGATION
=================================*/
#header-nav {margin-bottom: 90px}
#header-nav li {margin:0; padding:10px 0; list-style-type: none; border:1px solid #D9E5EE; text-align: center; float: left; width: 49%; background-color: #E8F4FD }
#header-nav .selected {background-color: white; font-weight: bold}
#header-nav a {text-decoration: none; color: #333}
#header-nav a:hover {text-decoration: underline;}

/* == HEADER LINKS TO TOGGLE FEATURES & SEGMENTS
=================================*/
.header-links {margin: 10px 0 30px; padding: 0; text-align: center;}
.header-links li{margin: 0 0 6px; padding: 0; list-style-type: none; }

/* == PAGE TITLE
=================================*/
#page-title {margin: 10px 0 60px;}
.home-link {float: left;}
.home-link img {width:24px;}

/* == BLOCKS
=================================*/
.block {margin-bottom:30px; clear: both; border: 1px solid #cacaca;}
.block-header {background-color: white; width: 96%; padding: 12px 2%; position: relative; border-bottom: 1px solid #cacaca;}
.block-header h3 {margin: 0; color: #3b4245; font-size: 14px}
.block-header .switch {position: absolute; top:0; right: 0; margin: 6px 6px 0 0}

/* == BLOCK HEADERS
=================================*/
.sub-header h3 {margin-left:2%;}
.sub-sub-header {background-color: #EFF0F0;}
.sub-sub-header h3 {margin-left:4%;}
.sub-sub-header .switch {margin-right: 4%}

.options-block {background-color: white; padding: 14px}
.options-block label {display:inline-block; padding: 10px}

/* == SEGMENT LIST
=================================*/
#segment-list {margin:0px 0 30px; padding:0; background-color: white; padding: 6px}
#segment-list li {margin:0 0 4px 0; list-style-type:none; background-color: #EFF0F0; padding: 10px 0 10px 20px; position: relative;}
#segment-list .delete {position: absolute; top:0; right: 0; margin:10px 10px 0 0;}
#segment-list .delete input {border:none; background-color: transparent; background-image: url(../images/delete.png); background-repeat:no-repeat; width: 20px}
#segment-list #segment-list-header {background-color: white; padding-left:4px; font-weight:bold}
#segment-list #add-segment {background-color: white}
#segment-list .add {border:none; padding: 4px 10px}
.segment-submit {border: none; background-color: white; font-size: 20px; font-weight: bold; color:#456176; float: right; margin-right:0px; display: none}

/* == ADDING AN ITEM
=================================*/
.add {background-color: white; padding: 4px 6px; margin-bottom: 30px; border:1px solid #cacaca; list-style-type: none; clear:both;}
.add .add-form-input {width: 81.2%; border:none; font-size: 14px; padding: 4px 2%; outline: none;}
.submit {width: 14%; display:inline-block; font-size: 12px; padding: 4px 0; height: 34px; background-color: #64A3D3; color: #456176; border:none; color: white; border-radius:4px; font-weight: bold}
#add-new-application .add-form-input {width: 70%}
#add-new-application .submit {width: 20%; margin: 4px 2% 0 0;}

.full-width-button {width: 100%}
.error {background-color: #FFCCCE; font-weight: bold; padding: 10px 6px; margin-bottom: 20px}
.success {background-color: #4CD864; font-weight: bold; padding: 10px 6px; margin-bottom: 20px}
.spacer {height:30px;}

#add-option {height:24px;}