%rebase('layout', title='Applications')

<div id="container">
    <h1 id="page-title">Flags Serive - Control Center</h1>

    <ul class="header-links">
        <li>Code and Docs on <a href="https://github.com/dubizzle/flags">github</a></li>
        <li>Flags are <b>{{default}}</b> by default, unless stated otherwise.</li>
    </ul>

    <ul id="home-nav">
        %for application in applications:
           <li><a href="{{app.get_url('features', application=application)}}">{{application}}</a></li>
        %end

        <li class="add">
            <span class="add-text">+ Add a new application</span>
            <span class="add-form">
                <form method="POST">
                    <input type="text" name="new_application" class="add-form-input" />
                    <input type="submit" />
                </form>
            </span>
        </li>
    </ul>
</div>