%rebase('layout', title='Flags', parent_url=app.get_url('index'))

<h1>Application: {{application}} - READ ONLY</h1>

{{default}} except if stated otherwise. <br/><br/>


%for flag in flags:
<div title="{{flags[flag]}}"><strong>{{flag}}</strong></div>

{{bool(flags[flag]) if not isinstance(flags[flag], dict) else ""}}
<input type="checkbox" name="apply_to_all" value="apply_to_all" {{"checked" if not isinstance(flags[flag], dict) else ""}}>for all</input><br/>

<table border=".5" style="width:100%">
%if isinstance(flags[flag], dict):
%for segment in flags[flag]:
  <tr>
  <th>-</th>
    <th>{{segment}} {{bool(flags[flag][segment]) if not isinstance(flags[flag][segment], dict) else ""}} <input type="checkbox" name="apply_to_all" value="apply_to_all" {{"checked" if not isinstance(flags[flag][segment], dict) else ""}}>for all</input><br/></th>
%if isinstance(flags[flag][segment], dict):
%for segment_option in flags[flag][segment]:
    <td><strong>{{segment_option}}</strong>  {{bool(flags[flag][segment][segment_option])}}</td>
%end
%end
    <td>+</td>
  </tr>
%end
%end
  <tr>
    <th>+</th>
  </tr>
</table>
%end
