%rebase('layout', title='Flags', parent_url=app.get_url('index'))

{{default}} unless stated otherwise. <br/><br/>

<div id="container">
    <h1 id="page-title">{{application}}</h1>

    <ul id="header-nav">
        <li class="selected">Features</li>
        <li>Segments</li>
    </ul>

    %for flag in flags:

        <div class="block">
            <div class="block-header header">
                <h3 title="{{flags[flag]}}">{{flag}}</h3>
                <span class="switch header-switch"><input id="{{flag}}_checkbox" type="checkbox" class="toggle" {{"checked" if flags[flag]["enabled"] else ""}} /></span>
            </div>

            %segmentation = flags[flag].get("segmentation", None)
            %if segmentation:

                <div class="segmentation-block">
                <div class="block-header sub-header">
                    <h3>Segmentation</h3>
                </div>

                %for segment in segmentation:
                    <div class="options-wrapper">
                        <div class="block-header sub-sub-header">
                            <h3>{{segment}}</h3>
                            <span class="switch"><input id="{{flag}}_{{segment}}_checkbox" type="checkbox" class="toggle" {{"checked" if segmentation[segment]["enabled"] else ""}} /></span>
                        </div>

                        %options = segmentation[segment].get("options", None)
                        %if options:
                            %for option in options:
                                <div class="options-block">
                                    <label><input id="{{flag}}_{{segment}}_{{option}}_checkbox" type="checkbox" {{"checked" if options[option] else ""}} />{{option}}</label>
                                </div>
                            %end
                        %end
                    </div>
                %end

                </div>
            %end

        </div>

    %end
</div>
<script type="text/javascript">
var elems = Array.prototype.slice.call(document.querySelectorAll('.toggle'));
elems.forEach(function(html) {
    var switchery = new Switchery(html, { size: 'small' });
});

$('.switchery').click(function(e) {
    parent_div = $(this).parent().parent().parent();

    if ($(this).parent().hasClass("header-switch")) {
        parent_div.find(".segmentation-block").fadeToggle("fast");
    } else {
        parent_div.find(".options-block").fadeToggle("fast");
    }

    var checkbox = $(this).prev();
    isChecked = checkbox.is(':checked');

    if (isChecked) {
    } else {
        parent_div.find("input:checkbox").each(function() {
            this.checked = false;
        });
    }
});
</script>

