%rebase('layout', title='Applications')

<h1>Flags Service</h1>

Code and Docs: <a href="https://github.com/dubizzle/flags">flags on github</a><br />

Default flags value: <b>{{default}}<b/> <br /><br /><br />




<div id="container">
    <h1 id="page-title">Control Center</h1>
    <ul id="home-nav">
        %for application in applications:
           <li><a href="{{app.get_url('flags', application=application)}}">{{application}}</a></li>
        %end
        <li id="add">+ Add a new application</li>
    </ul>
</div>
