<!DOCTYPE html>

<html>
<head>
    <title>{{title or 'Flags'}}</title>
    <link rel="stylesheet" href="{{ app.get_url('static', path='css/style.css') }}">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>

    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="stylesheet" href="{{ app.get_url('static', path='css/switchery.css') }}">
    <script type="text/javascript" src="{{ app.get_url('static', path='js/switchery.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 </head>
<body>
   %include
</body>
</html>
