<!DOCTYPE html>

<html>
<head>
    <title>{{title or 'Flags'}}</title>
    <link rel="stylesheet" href="{{ app.get_url('static', path='css/style.css') }}">
    <link rel="stylesheet" href="{{ app.get_url('static', path='css/toggle.css') }}">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ app.get_url('static', path='js/global.js') }}"></script>
 </head>
<body>
   %include
</body>
</html>