%rebase('layout', title='Flags', parent_url=app.get_url('index'))

<div id="container">
    <h1 id="page-title">{{application}}</h1>

    <ul id="header-nav">
        <li><a href="{{app.get_url('features', application=application)}}">Features</a></li>
        <li class="selected">Segments</li>
    </ul>

    %for segment in segments:
        <ul id="segment-list">

            <li id="segment-list-header" title="{{segments[segment]}}">{{segment}}<span>x</span></li>

            %options = segments[segment]
            %for option in options:
                <li>{{option}}<span>x</span></li>
            %end

            <li id="add-segment">+ Add a new {{segment}}</li>
        </ul>
    %end

    <li id="add">+ Add a new Segment</li>

</div>


